*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header font */
@font-face {
    font-family: "Chernobly";
    /*src: url(Chernobyl.otf);*/
}
/* 0-= */
.elements_con{
    background-image: linear-gradient(to right, #915412 , #E6942F);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header_tx{
    /*font-family: "Chernobly";*/
    margin-top: 1em;
    color: #130000;
}

table{
    width: 80%;
    height: 10%;
    border-collapse: collapse;
}
.my_table, th , td{
  
  color: #fff6b1;
   

}

th, td{
    padding: 10px;
}

td{
    text-align: left;
}

a{
    color: #070000;
    text-decoration: none;
    padding: 0.6em;
}

a:hover{
    color: rebeccapurple;
}

