*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.elements_con{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-content: center;

}


table{
    width: 80%;
    height: 10%;
}
.my_table, th , td{
    border: 2px solid black;
    margin: 2.1em;
    border-collapse: collapse ;

}

th, td{
    padding: 1.2em;
}

