*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.elements_con{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header_tx{
    margin-top: 1em;
    color: rebeccapurple;
}

table{
    width: 80%;
    height: 10%;
}
.my_table, th , td{
    border: black 1px solid;
    margin: 2.1em;

}

th, td{
    padding: 10px;
}

td{
    text-align: left;
}